[Unit]
Description=nm-daemon NetworkManager user service
Documentation=https://github.com/pmfleming/nm-daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=@out@/bin/nm-daemon daemon
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
